/*
HTML style definitions for MACH application

Author : Abhishek Dutta <https://abhishekdutta.org>
Date   : 2023-Oct-08
*/
body { background-color: #808080; }

#mach_container {
    background-color: #808080;
    display:grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 4em 65vh 1fr;
    height:98vh;
}

#mach_container .tree_container {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:4;
    overflow:scroll;
    margin-right:0.2em;
}
/* Source: https://stackoverflow.com/a/34611099 */
#mach_container .tree_container ul { list-style: none; margin:0; padding:0; }
#mach_container .tree_container ul li { margin-left:15px; padding-left:5px; position:relative; white-space:nowrap; }
#mach_container .tree_container ul .filelink { cursor:pointer; }
#mach_container .tree_container ul .filelink:hover { color:blue; }
#mach_container .tree_container details summary { cursor:pointer; }
#mach_container .tree_container ul li::before {
  content: " ";
  position: absolute;
  width: 1px;
  background-color: #ccc;
  top: 5px;
  bottom: -12px;
  left: -10px;
}
#mach_container .tree_container ul li::after {
  content: " ";
  position: absolute;
  left: -10px;
  width: 10px;
  height: 1px;
  background-color: #ccc;
  top: 9px;
}
#mach_container .tree_container ul li:not(:first-child):last-child::before {display: none;}

#mach_container .nav_container {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    height:100%;
}

#mach_container .nav_container > .nav { padding:0.4em 0em; text-align:center; }
#mach_container .nav_container > .nav button { margin:0 0.5em; }
#mach_container .nav_container > .nav select { width:20em; }

#mach_container .content_container {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
    box-sizing: border-box;
}

#mach_container .content_container .content_info { display:block; font-size:1em; color: #f2f2f2; background-color:#333333; border-bottom:1px solid #000000; padding:0.2em 0.5em; }

/*
#mach_container .content_container .content { box-sizing: border-box; display:block; background-color:#333333; color:#f2f2f2; white-space:pre; unicode-bidi:embed; font-family: monospace; border:none; font-size:1em; width:100%; max-height:90%; padding:1em; }*/
#mach_container .content_container .content { box-sizing: border-box; display:inline-block; background-color:#333333; color:#f2f2f2; white-space:pre; unicode-bidi:embed; font-family: monospace; border:none; font-size:1em; width:100%; height:90%; overflow:scroll; padding:1em; }
#mach_container .content_container .content ins { background-color: #d4fcbc; color:black; }
#mach_container .content_container .content del { background-color: #D55E00; color:black; }

#mach_container .annotation_container {
    background-color: #CC79A7;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
}

/* Message Panel */
#mach_container #log_container {
    display: none;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    text-align: center;
}

#mach_container #log_container .log_panel_close_button {
    position: absolute;
    top: -0.4em;
    right: 0.3em;
    color: white;
    cursor: pointer;
    font-size: small;
}

#mach_container #log_container > #log_content {
    position: relative;
    display: inline;
    margin: auto;
    background-color: #000000;
    color: #ffff00;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2rem;
    padding: 0.5rem 2rem;
}

#mach_container .key {
    font-family: monospace;
    padding: 1px 6px;
    background: linear-gradient(to bottom,#f0f0f0,#fcfcfc);
    ; border: 1px solid #e0e0e0;
    white-space: nowrap;
    color: #303030;
    border-bottom-width: 2px;
    border-radius: 3px;
    font-size: 1.2em;
}
